<script src="./assets/scripts/universal-parallax.min.js"></script>

<span class="hidden-md-up">
<section class="home-confie-wrapper" id="confie">
    <div class="container-fluid home-confie">
        <img class="home-confie-texto" src="images/confie.png">
    </div>
</section>
</span>
<span class="hidden-md-down">
    	<section class="paracontent container container--small">
		<div class="content home-confie"><img class="home-confie-texto" src="images/confie.png"></div>
	<div class="parallax parallax--bg bg1"></div>
	</section>

</span>

<section class="home-icones-wrapper">
    <div class="container composicao-icones">
        <div class="row ">
            <div class="col nobre-icon">
                <img class="icone-verde" src="images/vegano.png">
            </div>
            <div class="col nobre-icon">
                <img class="icone-verde" src="images/sem-glutem.png">
            </div>
            <div class="col nobre-icon">
                <img class="icone-verde" src="images/sem-lactose.png">
            </div>
            <div class="col nobre-icon">
                <img class="icone-verde" src="images/sem-conservantes.png">
            </div>
        </div>
    </div>
</section>







 
 
 	<script>
		new universalParallax().init();
	</script>
	
	
<!--	<section class="home-confie-wrapper" id="confie">-->
<!--    <div class="container-fluid home-confie">-->
<!--        <img class="home-confie-texto" src="images/confie.png">-->
<!--    </div>-->
<!--</section>-->
