 <section class="home-confie-wrapper" id="confie">
                <div class="container-fluid home-confie">
                    <img class="home-confie-texto" src="images/confie.png">
                </div>
            </section>

            <section class="home-icones-wrapper">
                <div class="row composicao-icones">
                    <div class="col">
                        <img class="icone-verde" src="images/vegano.png">
                    </div>
                    <div class="col">
                        <img class="icone-verde" src="images/sem-glutem.png">
                    </div>
                    <div class="col">
                        <img class="icone-verde" src="images/sem-lactose.png">
                    </div>
                    <div class="col">
                        <img class="icone-verde" src="images/sem-conservantes.png">
                    </div>
                </div>
            </section>