 <section class="home-consciente-wrapper" id="consciente">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center aconsciente-texto-home">
                            <img src="images/icone-consciente.png" height="60px" class="d-inline-block align-top" alt="alimentação-consciente-nobre-food">
                            <h1 class="text-white fredoka">alimentação<br>consciente</h1>
                            <p class="robotocond">Nós acreditamos no poder das escolhas conscientes. Nascemos com o
                                <br>propósito de transformar vidas, oferecendo prazer e inovação através de
                                <br> uma alimentação deliciosa e saudável. Tudo feito com muito amor para
                                <br> quem busca causar impacto positivo em si, no outro ou no mundo. </p>

                        </div>
                    </div>
                </div>
            </section>