<section class="home-contato-wrapper" id="contato">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center aconsciente-texto-home">
                <h1 class="text-white fredoka">sac:</h1>
                <a href="tel:+551934700909">
                    <h3 class="fredoka-telefone">(19) 3470.0909</h3>
                </a>
                <p class="text-white">Rua Guerino Biasi, 27 - Vila Pasti - Louveira/SP - CEP:13290-000</p>
                <span class="hidden-md-down">
                            <a href="https://www.facebook.com/nobrefood.oficial" class="icone-redes-sociais">
                                    <i class="fab fa-facebook-square fa-2x mx-2"></i>
                                    </a>
                            </span>
                <span class="hidden-md-up">
                            <a href="fb://page/nobrefood.oficial" class="icone-redes-sociais">
                                    <i class="fab fa-facebook-square fa-2x mx-2"></i>
                                    </a>
                            </span>
                <a href="https://www.instagram.com/nobrefood" class="icone-redes-sociais">
                                    <i class="fab fa-instagram fa-2x mx-2"></i>
                                    </a>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
