<span class="hidden-md-up">
    <section class="home-hero-wrapper">
        <div class="home-hero">
             <img class="home-hero-logo img-fluid" src="images/hero.png">
       </div>
    </section>
</span>

<span class="hidden-md-down">
        <section class="paracontent container container--hero">
        <div class="content container-fluid home-hero">
             <img class="home-hero-logo img-fluid" src="images/hero-nhoque.png">
       </div>
       	<div class="parallax parallax--bg bghero"></div>
    </section>
</span>