<section id="cards" class="">
  <script src="./assets/scripts/masonry.js"></script>
  <div class="container mx-auto">
    <div class="dropdown dropdown-nobre" id="dropnobre">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Escolha
  </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button type="button" class="dropdown-item" id="especiais">Massas Especiais</button>
        <button type="button" class="dropdown-item" id="abertas">Massas Abertas</button>
        <button type="button" class="dropdown-item" id="fechadas">Massas Fechadas</button>
        <button type="button" class="dropdown-item" id="salgados">Salgados</button>
        <button type="button" class="dropdown-item" id="todas">Tudo</button>
      </div>
    </div>
    <div class="filtro-desk">
      <span class="btn-nobre" id="especiais1"> Massas Especiais</span>
      <span class="btn-nobre" id="abertas1">Massas Abertas</span>
      <span class="btn-nobre" id="fechadas1">Massas Fechadas</span>
      <span class="btn-nobre" id="salgados1">Salgados</span>
      <span class="btn-nobre" id="todas1">Tudo</span>

    </div>
  </div>

  <div class="container" style="padding-bottom: 4em;">
    <div class="row card-columns nobre-cols" name="cardtop">
      <div class="card col-sm-12 col-md-8 nobre-card especiais" id="nobre-card1">
        <div class="card-body">
          <h3 class="nobre-card-title">rondelle de abóbora</h3>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card especiais" id="nobre-card2">
        <div class="card-body">
          <h5 class="nobre-card-title">canelone de brócolis com tomate seco</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card3">
        <div class="card-body">
          <h5 class="nobre-card-title">mezzaluna de abóbora</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card4">
        <div class="card-body">
          <h5 class="nobre-card-title">mezzaluna</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card5">
        <div class="card-body">
          <h5 class="nobre-card-title">mezzaluna de cogumelos</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card6">
        <div class="card-body">
          <h5 class="nobre-card-title">ravioloni</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-8 nobre-card" id="nobre-card7">
        <div class="card-body">
          <h5 class="nobre-card-title">ravioloni de escarola com azeitonas</h5>
        </div>
      </div>



      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card8">
        <div class="card-body">
          <h5 class="nobre-card-title">ravioli de abobrinha</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card9">
        <div class="card-body">
          <h5 class="nobre-card-title">ravioli</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card10">
        <div class="card-body">
          <h5 class="nobre-card-title">ravioli de berinjela</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-8 nobre-card fechadas" id="nobre-card11">
        <div class="card-body">
          <h5 class="nobre-card-title">nhoque de espinafre</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card12">
        <div class="card-body">
          <h5 class="nobre-card-title">nhoque de batata</h5>
        </div>
      </div>



      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card13">
        <div class="card-body">
          <h5 class="nobre-card-title">nhoque de mandioquinha</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card14">
        <div class="card-body">
          <h5 class="nobre-card-title">nhoque de batata doce</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card15">
        <div class="card-body">
          <h5 class="nobre-card-title">nhoque de abóbora</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card abertas" id="nobre-card16">
        <div class="card-body">
          <h5 class="nobre-card-title">penne</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-8 nobre-card abertas" id="nobre-card17">
        <div class="card-body">
          <h5 class="nobre-card-title">spaghetti</h5>
        </div>
      </div>



      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card18">
        <div class="card-body">
          <h5 class="nobre-card-title">pão de queijo</h5>
        </div>
      </div>


      <div class="card col-sm-12 col-md-4 nobre-card" id="nobre-card19">
        <div class="card-body">
          <h5 class="nobre-card-title">pizza de cogumelos</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card salgados" id="nobre-card20">
        <div class="card-body">
          <h5 class="nobre-card-title">pastel de forno de berinjela</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-8 nobre-card salgados" id="nobre-card21">
        <div class="card-body">
          <h5 class="nobre-card-title">coxinha de brócolis com tomate seco</h5>
        </div>
      </div>

      <div class="card col-sm-12 col-md-4 nobre-card salgados" id="nobre-card22">
        <div class="card-body">
          <h5 class="nobre-card-title">bolinha de abóbora</h5>
        </div>
      </div>

    </div>
  </div>
</section>
