<section class="home-menu-wrapper">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand home-menu-brand" href="#">
                        <img src="images/nobre-food-logo-menu.png" height="45px" class="d-inline-block align-top logo-menu " alt="nobre-food">
                    </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                  </span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav home-menu-links-center">
                    <a class="btn btn-outline-primary nav-item nav-link nobre-nav-link" href="#" data-toggle="collapse" data-target="#navbarNavAltMarkup">home <span class="sr-only">(current)</span></a>
                    <a class="btn btn-outline-primary nav-item nav-link nobre-nav-link" href="#consciente" data-toggle="collapse" data-target="#navbarNavAltMarkup">alimentação consciente</a>
                    <a class="btn btn-outline-primary nav-item nav-link nobre-nav-link" href="#confie" data-toggle="collapse" data-target="#navbarNavAltMarkup">confiança</a>
                    <a class="btn btn-outline-primary nav-item nav-link nobre-nav-link" href="#cards" data-toggle="collapse" data-target="#navbarNavAltMarkup">produtos</a>
                    <a class="btn btn-outline-primary nav-item nav-link nobre-nav-link" href="#contato" data-toggle="collapse" data-target="#navbarNavAltMarkup">contato</a>
                </div>
            </div>
        </div>
    </nav>

</section>
            