            <section class="home-menu-wrapper">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand home-menu-brand" href="#">
                        <img src="images/nobre-food-logo-menu.png" height="45px" class="d-inline-block align-top logo-menu " alt="nobre-food">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                  </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav home-menu-links-center">
                            <a class="btn btn-outline-primary nav-item nav-link" href="#">home <span class="sr-only">(current)</span></a>
                            <a class="btn btn-outline-primary nav-item nav-link" href="#consciente">alimentação consciente</a>
                            <a class="btn btn-outline-primary nav-item nav-link" href="#confie">confiança</a>
                            <a class="btn btn-outline-primary nav-item nav-link" href="#produtos">produtos</a>
                            <a class="btn btn-outline-primary nav-item nav-link" href="#contato">contato</a>
                        </div>
                    </div>
                </nav>
            </section>
            