.home-hero {
    background-image: url(../../images/bg_hero_nobre_food.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 30em;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.home-hero-logo {
    display: flex;
    height: 100%;
    margin-top: unset;
    width: 100%
}


@media(min-width: 1000px) {
    .home-hero {
        padding-top: 7em;
    }
}


@media(max-width: 1000px) {
    .home-hero-logo {
        display: flex;
        height: unset;
        margin-top: 7em;
        width: 100%;
        padding-right: 1em;
    }
    .bghero {
        background-image: url(../../images/bg_hero_nobre_food.jpg);
    }

    .home-hero {
        min-height: unset;
    }
    .home-hero-logo {
        display: flex;
        max-height: 20em;
        margin-top: unset;
        width: auto;
    }

}
